<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69267357220-i8i57aka4bdq9redq69islt0d843rt3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69267357220-i8i57aka4bdq9redq69islt0d843rt3o</string>
	<key>API_KEY</key>
	<string>AIzaSyC6WRt3JSPt6ujav_ddXDrZtJ0optbXS8s</string>
	<key>GCM_SENDER_ID</key>
	<string>69267357220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseflutter</string>
	<key>PROJECT_ID</key>
	<string>fluttertest-946a6</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertest-946a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69267357220:ios:fb6ded54f167648194a2b1</string>
</dict>
</plist>